#login-area{
    display: block;
    margin-top: 15%;
}
.submit-area{
    padding: 2em;
    width: 50%;
    margin: 0 auto;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#main-menu{
    display: none;
    margin: 10% 0;
    color: whitesmoke;
    text-align: center;
}
.deposit{
    background-color: cadetblue;
}
.withdraw{
    background-color: coral;
}
.balance{
    background-color: cornflowerblue;
}
.status{
    padding: 2em 0;
    margin: 0 5em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.transaction-area{
    color: black;
    margin: 10em 2em;
}
.deposit-card , .withdraw-card{
    border-radius: 1em;
    margin: 1em 2em;
    padding: 2em 1em;
    box-shadow: 5px 5px 15px gray;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}